nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
}
#logo {
  width: 220px;
  cursor: pointer;
}
.category-list {
  display: flex;
  flex-wrap: wrap;
}
.category-list h4 {
  margin: 4px 20px 0px 20px;
  cursor: pointer;
  font-weight: 300;
  color: #22262a;
  transition: 0.3s ease-in-out;
}
.category-list h4:hover {
  color: #000000;
}

@media (max-width: 820px) {
  #logo {
    width: 150px;
    height: 10px 15px;
  }
  .category-list h4 {
    margin: 2px 10px 0px 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .Icons {
    width: 13px;
    margin: 0px 8px;
  }
}

@media (max-width: 550px) {
  .logo {
    margin: 2% 35%;
  }
  nav {
    padding: 0px 15px;
  }
  .category-list h4 {
    margin: 2px 8px 8px 8px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 300;
    color: #313941;
    transition: 0.3s ease-in-out;
  }
}

@media (max-width: 489px) {
  .logo {
    margin: 2% 32%;
    width: 100px;
  }
  nav {
    padding: 0px 10px;
  }
  .category-list h4 {
    margin: 4px 5px 5px 5px;
    font-size: 10px;
  }
  .Icons {
    width: 10px;
    margin: 0px 5px;
  }
}
@media (max-width: 320px) {
  .logo {
    margin: 2% 28%;
    width: 100px;
  }
  nav {
    padding: 0px 10px;
  }
  .category-list h4 {
    margin: 4px 5px 5px 5px;
    font-size: 8px;
  }
  .Icons {
    width: 10px;
    margin: 0px 5px;
  }
}
