.watch_page_container {
  margin: 15px 25px;
}
.Filter_Container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 15px;
}

.display_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.description_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 230px;
  margin: 2%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.description_container img {
  max-width: 60%;
  padding-top: 5%;
  padding-left: 20%;
  cursor: pointer;
}

.description_container h4 {
  margin: 10px 0px 5px 15px;
}

.description_container p {
  font-size: 13px;
  color: rgb(86, 75, 75);
  margin: 0px 0px 5px 15px;
}

.description_container button {
  margin: 10px 0px 20px 12px;
}

@media (max-width: 820px) {
  .sub_page_tag {
    font-size: 12px;
  }
  .Filter_Container h3 {
    font-size: 16px;
  }
  .Filter_Container span {
    font-size: 14px;
  }
  .Filter_Container button {
    font-size: 12px;
  }
}

@media (max-width: 489px) {
  .sub_page_tag {
    font-size: 10px;
  }
  .Filter_Container h3 {
    font-size: 14px;
  }
  .Filter_Container span {
    font-size: 12px;
  }
  .Filter_Container button {
    font-size: 10px;
  }
  .btn {
    padding: 4px 8px;
    margin: 0px 10px;
  }
}

@media (max-width: 325px) {
  .Filter_Container {
    border: 1px red solid;
  }
  .sub_page_tag {
    font-size: 8px;
  }
  .Filter_Container h3 {
    margin-top: 3px;
    font-size: 12px;
  }
  .Filter_Container span {
    font-size: 10px;
  }
  .btn {
    padding: 4px 8px;
    margin: 0px 5px;
  }
}

@media (max-width: 279px) {
  .btn {
    margin: 10px 5px;
  }
}
